*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
    width:100%;
   height:100vh;
   display:flex;
   justify-content: space-around;
   align-items:center;
   flex-direction:column; 
   background-color: #8CC461;
}

.image{
    width:80%;
    height:50vh;
    display:flex;
    justify-content: center;
    margin-left:10%;
    align-items: baseline;
    margin-top:50px;
}
.imagecup{
    position:relative;
   
    right:350px;
    
}

.up{
    font-size:4rem;
    color:#ffff;
}

.won{
 font-size:2rem;
 color:#ffff;
}

.play{
    width:100%;
    height:100px;
    display:flex;
    justify-content: center;
}

a{
    width:150px;
    height:40px;
    font-size:1.2rem;
    text-decoration-line: none;
    color:#000;
    background-color: #fff;
    border:2px solid #ffff;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    
}

